body {
    text-align: center;
    background-color: black;
    color: white;
    font-family: monospace;
    font-size: larger;
}

.begin {
    font-size: 30px;
    margin-top: 5rem;
}

.header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.navbarJ ul {
    font-size: larger;
    display: flex;
    list-style: none;
    font-weight: bold;
}

.navbarJ ul li{
    padding: 0 20px;
}

.navbarJ ul li:nth-child(1) {
    border-right: 1px solid white;
}

.navbarJ ul li:nth-child(2) {
    border-right: 1px solid white;
}

.navbar ul {
    font-size: larger;
    display: flex;
    list-style: none;
    font-weight: bold;
}

.navbar ul li{
    padding: 0 20px;
}

.navbar ul li:nth-child(1) {
    border-right: 1px solid white;
}

.showcase {
    margin-top: 35px;
    border-style: solid;
    border-color: white;
    border-radius: 15rem;
}

.link1 {
    text-decoration: none;
    color: white;
}

.itensMenu {
    text-decoration: none;
    color: white;
}

.itensMenu:hover {
    cursor: pointer;
    color: dodgerblue;
}

.links {
    text-decoration: none;
    color: dodgerblue;
}

.links:hover {
    cursor: pointer;
    color: lightblue;
}
